    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="https://github.com/bbarad"><i class="fa-brands fa-github-alt fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://linkedin.com/in/bbarad"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://twitter.com/benjaminbarad"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a rel="me" href="https://struct.bio/@benbarad"><i class="fa-brands fa-mastodon fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://instagram.com/benjamin.barad"><i class="fa-brands fa-instagram fa-2x"></i></a></li> 
            <li class="footer-inverse"><a href="mailto:benjamin.barad+website@gmail.com"><i class="fa-solid fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://grotjahnlab.org/"><i class="fa-solid fa-building-columns fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
