    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="http://github.com/bbarad"><i class="fa fa-github-alt fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="http://linkedin.com/in/bbarad"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="http://twitter.com/benjaminbarad"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="mailto:benjamin.barad+website@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="http://fraserlab.com/"><i class="fa fa-university fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53448134-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>