    </div>
    <footer class="navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav nav-center">
          <li><a href="http://github.com/bbarad" alt="Github"><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="http://twitter.com/benjaminbarad" alt="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="http://linkedin.com/in/bbarad" alt="Linkedin"><i class="fa fa-linkedin fa-lg"></i></a></li>
        </ul>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>