<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benjamin Barad</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="static/icons/foundation-icons.css" />
    <link rel="stylesheet" href="static/css/colors.css" />
    <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
   <div class="navbar navbar-fixed-top navbar-default" role="navigation">
   	<div class="container-fluid">