<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benjamin Barad</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="static/icons/foundation-icons.css" />
    <link rel="stylesheet" href="static/css/colors.css" />
    <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  	<div class="fixed">
	  	<nav class="top-bar" data-topbar>
	  		<ul class="title-area">
	  			<li class="name"><h1><a href="/">Benjamin Barad</a></h1></li>
	  		</ul>
	  	</nav>
	  	<section 
	</div>
	<div class="row">
  		<div class="large-12 columns">