---
name: Blog
layout: default
group: blog
---

<div class="page-header"><h1 class="text-center"> Ideas and Stories <br><small>In Blog Format</small> </h1></div>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="row">
<div class="col-sm-8 lead">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    {% if post.updated %}
      <span class="date"><em>{{ post.date | date_to_long_string }} - Last Updated {{ post.updated | date_to_long_string }}</em></span>
    {% else %}
      <span class="date"><em>{{ post.date | date_to_long_string }}</em></span>
    {% endif %}
  </p>
  <div class="content">
    
    {{ post.content | split:'<!--break-->' | first }}
    
    {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">read more</a>
    {% endif %}
  </div>
  <hr>
</div>
</div>
 <div class="clearfix visible-xs-block"></div>

{% endfor %}

<!-- This makes links to other paginator pages -->
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li><span>&laquo; Prev</span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ '/blog/page:num' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li><span>Next &raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
